<html>
<head>

</head>


<body>










<script >
    import echarts from "../static/js/dropzone";

    var myChart = echarts.init(document.getElementById('mainOne'))
    var option={
        backgroundColor:'rgb(252,173,54,0.1)',
        legend:{},
        tooltip: {
            backgroundColor: "cornflowerblue"
        },
        toolbox:{
            right:25,
            top:10,
            show:true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        visualMap: {
            right:2,
            bottom: 1,
            pieces:[{
                gt:-45,lt:-35,color:"#0c0b47"
            },{
                gt:-35,lt:-25,color:"#231dd5"
            },{
                gt:-25,lt:-15,color:"#3bb1e2"
            },{
                gt:-15,lt:-5,color:"#57f2ff"
            },{
                gt:-5,lt:5,color:"#68ffc6"
            },{
                gt:5,lt:10,color:"#00ff45"
            },{
                gt:10,lt:20,color:"#ff9933"
            },{
                gt:20,lt:30,color:"#cc8080"
            },{
                gt:20,lt:30,color:"orange"
            },{
                gt:30,lt:40,color:"red"
            }]
        },
        grid: {x:50,y:50,x2:100,y2:50},
        xAxis: [{
            data:{{ data| safe }}
        }],
        yAxis:{},
        dataZoom:{
            show:true,
            realtime:true,
            start:70,
            end:90,
            bottom:'0%'
        },
        series:[
              {
                name:`${defaultCity} - 最高气温`,
                type:'line',
                color:'red',
                markLine:{data:[{type:'average',name:'平均值'}]},
                markPoint:{data:[{type:'max',name:'最大值'},{type:'min',name:'最小值'}]},
                data:{{ maxTemp| safe }}
              },
              {
                name:'{{ defaultCity }} - 最低气温',
                type:'line',
                color:'blue',
                markLine:{data:[{type:'average',name:'平均值'}]},
                markPoint:{data:[{type:'max',name:'最大值'},{type:'min',name:'最小值'}]},
                data:{{ minTemp | safe }}
              }
            ]
          };
        myChart.setOption(option);
</script>
<script >
    var chartDom = document.getElementById('mainA')
    var mychart =echarts.init(chartDom)
    var option;
    option = {
  title: {
    {#text: 'Referer of a Website',#}
    {#subtext: 'Fake Data',#}
    {#left: 'center'#}
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    {#left: 'left'#}
      x:'-5px',
      y:'70%'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: '50%',
      data: {{ resultWeather|safe }},
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
</script>
</body>
</html>